body{
    font-family: 'Lato', sans-serif;
}
#logo{
    height: 100px;
    width: 100px;
    padding-left: 1vh;
}
#title{
    height: 10vh;   
    width: auto;
    margin-top: 1.vh;
}
.underTitle{
    font-size: 0.7rem;
    font-weight: bold;
    margin: 0;
    padding-left: 1vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}